In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#this is a python magic function to automatically show matplotlib plots
%matplotlib inline

In [2]:
july_trip = pd.read_csv('../data/july_trip.csv')

In [3]:
july = pd.read_pickle('../data/july.pkl')

In [4]:
july_trip.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000

In [5]:
july_trip.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
134921,2019-08-01 04:53:48,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.2,2019-07-31 00:00:00,23:47:43,2019-08-01 00:00:00,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[[""36.154631"",""-86.798341""],[""36.154631"",""-86....",2019-08-02 08:21:27.127000
134922,2019-08-01 04:53:48,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.0,2019-07-31 00:00:00,23:57:19,2019-08-01 00:00:00,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[[""36.153016"",""-86.783586""],[""36.153016"",""-86....",2019-08-02 08:21:26.773000
134923,2019-08-01 04:53:48,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.0,2019-07-31 00:00:00,23:41:52,2019-08-01 00:00:00,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[[""36.153685"",""-86.784578""],[""36.153685"",""-86....",2019-08-02 08:21:26.803000
134924,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.6,2019-07-31 00:00:00,23:26:15,2019-08-01 00:00:00,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[[""36.155736"",""-86.775181""],[""36.155531"",""-86....",2019-08-02 08:24:21.967000
134925,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.6,2019-07-31 00:00:00,22:19:08,2019-08-01 00:00:00,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[[""36.160051"",""-86.77672""],[""36.160051"",""-86.7...",2019-08-02 08:24:22

In [6]:
july_trip.shape

(134926, 16)

In [7]:
july_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134926 entries, 0 to 134925
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    134926 non-null  object
 1   companyName     134926 non-null  object
 2   tripRecordNum   134926 non-null  object
 3   sumdID          134926 non-null  object
 4   tripDuration    134926 non-null  float64
 5   tripDistance    134926 non-null  float64
 6   startDate       134926 non-null  object
 7   startTime       134926 non-null  object
 8   endDate         134926 non-null  object
 9   endTime         134926 non-null  object
 10  startLatitude   134926 non-null  float64
 11  startLongitude  134926 non-null  float64
 12  endLatitude     134926 non-null  float64
 13  endLongitude    134926 non-null  float64
 14  tripRoute       134926 non-null  object
 15  create_dt       134926 non-null  object
dtypes: float64(6), object(10)
memory usage: 16.5+ MB

In [8]:
july_trip.sumdID.value_counts()

PoweredUNKNOWN          327
Powered5N5J5BJDODHYX    141
PoweredOEHCPCAUHESR5    134
PoweredIHGSNSRXCZ2ZG    128
Powered5BW4GPYGBMUTL    126
                       ...
PoweredCRLCH              1
PoweredMEJEH              1
PoweredGK9VY              1
PoweredJ2ZEW3VRV34OK      1
PoweredDBL2I              1
Name: sumdID, Length: 5585, dtype: int64

In [9]:
july_trip.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude
count,134926.000000,1.349260e+05,134926.000000,134926.000000,134926.000000,134926.000000
mean,97.097264,5.333994e+03,36.156738,-86.785144,36.156680,-86.785514
std,1722.548585,1.406051e+05,0.010914,0.013987,0.118461,0.396499
min,-19.358267,-2.032480e+07,35.853200,-86.890850,0.000000,-122.673729
25%,5.000000,3.280840e+02,36.150938,-86.793142,36.151014,-86.792596
50%,10.148442,2.956037e+03,36.157200,-86.782100,36.157680,-86.781523
75%,21.250550,6.916011e+03,36.162900,-86.776691,36.162800,-86.776546
max,512619.000000,3.188448e+07,36.299569,-86.366200,51.045409,0.000000

In [10]:
#How many scooters had tripDistance less than or equal to 0 ft
zero_rides = july_trip.loc[july_trip.tripDistance <= 0.0]
zero_rides

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.177500,-86.751600,36.177800,-86.751400,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.162700,-86.771100,36.162700,-86.771100,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.162700,-86.771300,36.162700,-86.771300,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.152500,-86.798800,36.152500,-86.798800,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.157800,-86.776000,36.157500,-86.775800,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134790,2019-07-31 23:59:31.363000,Lime,LIM824007,PoweredXT74HFLTRVCM2,1.0,0.0,2019-07-31 00:00:00,23:21:47,2019-07-31 00:00:00,23:22:52,36.152455,-86.784887,36.152606,-86.784854,"[[36.15245,-86.78489]]",2019-08-01 09:33:55.437000
134849,2019-08-01 00:00:06.593000,Bird,BRD1819,PoweredYTT8X,8.0,0.0,2019-07-31 00:00:00,23:52:40.086666,2019-08-01 00:00:00,00:00:41.923333,36.146100,-86.799500,36.151800,-86.797300,"[[36.14615,-86.79952],[36.146129,-86.799557],[...",2019-08-02 05:30:21.340000
134850,2019-08-01 00:00:06.593000,Bird,BRD1818,Powered799T4,7.0,0.0,2019-07-31 00:00:00,23:53:17.616666,2019-08-01 00:00:00,00:00:27.170000,36.158100,-86.769200,36.158100,-86.769200,"[[36.158103,-86.769174]]",2019-08-02 05:30:21.290000
134851,2019-08-01 00:00:06.593000,Bird,BRD1820,PoweredJF4AU,12.0,0.0,2019-07-31 00:00:00,23:48:24.240000,2019-08-01 00:00:00,00:00:16.660000,36.161200,-86.770900,36.162500,-86.774300,"[[36.161257,-86.770772],[36.161298,-86.770745]...",2019-08-02 05:30:21.373000
134913,2019-08-01 00:59:26.133000,Lime,LIM824104,PoweredBWUEHAVVGNTBD,32.0,0.0,2019-07-31 00:00:00,23:42:31,2019-08-01 00:00:00,00:14:26,36.157034,-86.793820,36.164669,-86.792307,"[[36.15627,-86.7948]]",2019-08-02 09:22:33.627000

In [11]:
zero_rides.tripDistance.value_counts()

 0.000000e+00    27462
-7.634515e+05        1
-9.337271e+06        1
-2.032480e+07        1
-1.990092e+07        1
Name: tripDistance, dtype: int64

In [12]:
zero_rides.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude
count,27466.000000,2.746600e+04,27466.000000,27466.000000,27466.000000,27466.000000
mean,7.967690,-1.832318e+03,36.157138,-86.784821,36.155668,-86.782803
std,9.922618,1.807019e+05,0.010590,0.013837,0.218806,0.557640
min,0.000000,-2.032480e+07,35.853200,-86.863300,0.000000,-118.469800
25%,3.000000,0.000000e+00,36.151500,-86.792200,36.151400,-86.792200
50%,5.000000,0.000000e+00,36.157400,-86.781700,36.157600,-86.781700
75%,10.000000,0.000000e+00,36.163000,-86.776700,36.162900,-86.776700
max,384.000000,0.000000e+00,36.213197,-86.366200,36.225600,0.000000

In [13]:
july_trip.tripDistance.value_counts()

0.000000        27462
328.084000        930
1312.336000       830
656.168000        810
984.252000        801
                ...
2369.287516         1
773.307239          1
3597.528792         1
33579.400000        1
6232.881771         1
Name: tripDistance, Length: 44770, dtype: int64

In [14]:
day1 = july_trip.query('startDate == "2019-07-01 00:00:00" and endDate == "2019-07-01 00:00:00"')
day1

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.000000,0.00000,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.177500,-86.751600,36.177800,-86.75140,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.000000,0.00000,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.162700,-86.771100,36.162700,-86.77110,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.000000,0.00000,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.162700,-86.771300,36.162700,-86.77130,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.000000,0.00000,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.152500,-86.798800,36.152500,-86.79880,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.000000,0.00000,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.157800,-86.776000,36.157500,-86.77580,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,2019-07-01 23:59:07.750000,SPIN,SPI204,Powered5612294,4.000000,652.88716,2019-07-01 00:00:00,23:54:47,2019-07-01 00:00:00,23:58:02,36.152182,-86.797468,36.153743,-86.79857,"[[36.153743122738,-86.798570472827919],[36.153...",2019-07-02 10:20:34.733000
4246,2019-07-01 23:59:20.367000,Lyft,LFT759,Powered005537,22.004833,7549.21284,2019-07-01 00:00:00,23:37:19.923333,2019-07-01 00:00:00,23:59:20.213333,36.149980,-86.812700,36.150920,-86.81335,"[[36.14998,-86.8127],[36.15011,-86.81282],[36....",2019-07-03 09:45:38.553000
4247,2019-07-01 23:59:20.860000,Lyft,LFT760,Powered560103,16.505167,4803.14976,2019-07-01 00:00:00,23:42:50.430000,2019-07-01 00:00:00,23:59:20.740000,36.150460,-86.812890,36.150920,-86.81336,"[[36.15046,-86.81289],[36.1505,-86.81285],[36....",2019-07-03 09:45:38.597000
4740,2019-07-02 04:54:18,JUMP,JMP210,Poweredf9ca60ff-2276-5b99-bade-bab134944d93,22.540133,10296.00000,2019-07-01 00:00:00,23:33:28,2019-07-01 00:00:00,23:56:00,36.164143,-86.777510,36.162800,-86.78088,"[[""36.164141"",""-86.777515""],[""36.164158"",""-86....",2019-07-03 07:55:32.990000
4748,2019-07-02 04:54:18,JUMP,JMP211,Poweredff2ad591-70e4-579d-9714-b80a5ce83976,3.918083,1056.00000,2019-07-01 00:00:00,23:52:26,2019-07-01 00:00:00,23:56:21,36.154716,-86.785040,36.155502,-86.78405,"[[""36.154718"",""-86.78504""],[""36.154718"",""-86.7...",2019-07-03 07:55:32.950000

In [15]:
day1_plus = july_trip.query('startDate == "2019-07-01 00:00:00" and endDate == "2019-07-02 00:00:00"')
day1_plus

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
4236,2019-07-01 23:58:58.087000,Bird,BRD3124,PoweredBMAAV,3.000000,0.00000,2019-07-01 00:00:00,23:57:05.913333,2019-07-02 00:00:00,00:00:24.833333,36.182400,-86.794500,36.182500,-86.794400,"[[36.182507,-86.794381]]",2019-07-03 05:30:18.300000
4238,2019-07-01 23:58:58.087000,Bird,BRD3122,PoweredWSITQ,2.000000,0.00000,2019-07-01 00:00:00,23:58:24.066666,2019-07-02 00:00:00,00:00:12.023333,36.145500,-86.795300,36.145500,-86.795300,"[[36.145588,-86.795247],[36.158143,-86.785549]...",2019-07-03 05:30:18.233000
4241,2019-07-01 23:58:58.087000,Bird,BRD3130,Powered4ICDD,17.000000,4921.26000,2019-07-01 00:00:00,23:43:28.486666,2019-07-02 00:00:00,00:00:27.173333,36.125700,-86.779100,36.125700,-86.778900,"[[36.125746,-86.779096],[36.125697,-86.778996]...",2019-07-03 05:30:18.497000
4243,2019-07-01 23:58:58.087000,Bird,BRD3123,PoweredHGSWB,3.000000,0.00000,2019-07-01 00:00:00,23:57:15.256666,2019-07-02 00:00:00,00:00:00.600000,36.173600,-86.784700,36.171400,-86.782500,"[[36.173714,-86.784661],[36.173768,-86.784659]...",2019-07-03 05:30:18.267000
4248,2019-07-02 00:00:06.523000,Lyft,LFT1,Powered157297,6.473017,2109.58012,2019-07-01 00:00:00,23:53:37.993333,2019-07-02 00:00:00,00:00:06.373333,36.145240,-86.812280,36.149060,-86.809540,"[[36.14524,-86.81228],[36.14527,-86.81221],[36...",2019-07-03 09:45:38.637000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4742,2019-07-02 04:54:18,JUMP,JMP4,Powered591a389a-faa7-5ac9-8112-31a63f3fe84e,22.399784,13411.20000,2019-07-01 00:00:00,23:52:53,2019-07-02 00:00:00,00:15:17,36.141457,-86.814600,36.141026,-86.837090,"[[""36.141455"",""-86.8146""],[""36.141455"",""-86.81...",2019-07-03 07:55:33.490000
4745,2019-07-02 04:54:18,JUMP,JMP7,Poweredb24da9d9-6494-586a-ae35-1f35c83c2ffe,51.496200,10454.40000,2019-07-01 00:00:00,23:56:25,2019-07-02 00:00:00,00:47:55,36.162690,-86.779470,36.165110,-86.769875,"[[""36.162691"",""-86.779475""],[""36.162691"",""-86....",2019-07-03 07:55:33.960000
4747,2019-07-02 04:54:18,JUMP,JMP1,Powered0856d6d4-94ef-564c-8a0a-c02c2281de99,15.401250,9398.40000,2019-07-01 00:00:00,23:46:55,2019-07-02 00:00:00,00:02:19,36.177734,-86.784210,36.175797,-86.786736,"[[""36.177736"",""-86.78421""],[""36.17758"",""-86.78...",2019-07-03 07:55:33.020000
4755,2019-07-02 06:48:07,JUMP,JMP24,Powereda84c9b7c-ee8d-5506-8269-a24fc7072798,87.651200,11193.60000,2019-07-01 00:00:00,23:57:08,2019-07-02 00:00:00,01:24:47,36.162780,-86.779410,36.165176,-86.769930,[],2019-07-03 07:55:47.713000
4759,2019-07-02 06:48:07,JUMP,JMP29,Powered1596b61a-225f-5a94-9027-cfc92d1075a0,328.189800,0.00000,2019-07-01 00:00:00,20:55:01,2019-07-02 00:00:00,02:23:13,36.168510,-86.771805,36.168510,-86.771805,[],2019-07-03 07:55:50.077000

In [16]:
day1.companyName.value_counts()

Bird             2079
Lime             1077
Lyft              720
SPIN              178
Bolt Mobility     152
JUMP               37
Gotcha              3
Name: companyName, dtype: int64

In [17]:
day1.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude
count,4246.000000,4246.000000,4246.000000,4246.000000,4246.000000,4246.000000
mean,62.247229,4012.472349,36.156964,-86.784696,36.156960,-86.784434
std,389.300944,6022.885810,0.011013,0.013953,0.011508,0.014474
min,0.000000,0.000000,36.065160,-86.843800,36.065353,-86.880283
25%,4.730458,0.000000,36.151300,-86.791292,36.151216,-86.791400
50%,9.000000,1953.434935,36.157809,-86.781300,36.157905,-86.781278
75%,18.000000,5541.338760,36.163077,-86.776753,36.163140,-86.776562
max,9954.000000,78740.160000,36.198450,-86.686832,36.222200,-86.687084

In [18]:
day1.sumdID.value_counts()

Powered6XGTBTHERKIAE                           12
PoweredUNKNOWN                                 10
PoweredHJU5G62RQJZ42                            9
PoweredPVZEMNE2ENQRI                            9
PoweredTBGIRQ5IOW2KR                            9
                                               ..
Powered7590016                                  1
Powered0fc82c7f-9fb5-5f9b-b11d-f9415d92e561     1
PoweredK1TFW                                    1
PoweredFH7D2                                    1
Powered2X7Y6                                    1
Name: sumdID, Length: 2050, dtype: int64